%margin{
	margin:0;
	padding: 0;
}
body,ul,li,p,pre,h1,h2,h3,h4,h5,h6,dd,dt,dl{
	@extend %margin;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-image: url(../imgs/beijing2.jpg);
	background-size: cover;
}
#canvas{
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
}
.cartel{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0,0,0.7);
	width: 100%;
	height: 100%;
	.tips{
		width: 600px;
		height: 300px;
		background: #fff;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
	}
	#tishi{
		margin-top: 50px;
		font-size: 24px;
	}
	#restart{
		display: inline-block;
		margin-top: 100px;
		padding: 10px 20px;
		// background: #51b433;
		background-image: url(../imgs/1.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	#qiqiu{
		display: inline-block;
		margin-top: 100px;
		padding: 10px 20px;
		// background: #51b433;
		background-size: 100%;
		background-image: url(../imgs/1.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
}
